<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="logFileName" value="MQLog.txt" />
		<add key="logFileSize" value="500000" />
		<!--Value Should be in bytes-->
		<add key="limitLogLevel" value="1" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	
	</appSettings>
</configuration>